# Database Configuration - À ADAPTER LOCALEMENT
DB_HOST=mysql
DB_NAME=gestion_journal
DB_USER=root
DB_PASSWORD=root

# Application
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000

# Admin Login (pour les tests)
ADMIN_USER=Admin
ADMIN_PASSWORD=adminpass
